.htmx-indicator {
    opacity:0;
    transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator{
    opacity:1
}
.htmx-request.htmx-indicator{
    opacity:1
}

.contact.htmx-swapping {
    opacity:0;
    transition: opacity 500ms ease-in;
}
